/* Colors */
/* #617596 border color
#CAF0FF
#F9FAFE card bg
#E6EBFE card section bg
#E4F0F8 body bg
#4548A1
#FC6490 */

@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Londrina+Outline&family=Nunito:wght@200;300;500;800;900&family=Pacifico&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #caf0ff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 25px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background: #4548a1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: #e4f0f8;
  background-image: url(../img/basebackground.png);
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px;
}

.content-section {
  background: rgba(249, 250, 254, 0.164);
  border-radius: 30px;

  -webkit-box-shadow: 0px 1px 13px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 13px 6px rgba(0, 0, 0, 0.4);
  min-width: 95%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.header {
  margin-top: 30px;
  margin-bottom: 15px;
  background: #4548a1;
  border-radius: 15px;
  max-width: 90%;
  min-width: 90%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  max-width: 80%;
}

.logo {
  color: #e9f2fa;
  font-size: 55px;
  margin-top: 2px;
  margin-right: 5%;
}

.logo-text-main {
  color: #f9fafe;
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  line-height: 33px;
}

.logo-text-secondary {
  background: #caf0ff;
  color: #4548a1;
  font-family: 'Gochi Hand', cursive;
  font-size: 20px;
  border-radius: 6px;
}

.text {
  margin-right: 5%;
}

.search {
  margin-right: 5%;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 560px;
  padding: 5px;
  border: 5px solid #4548a1;
  background: #f9fafe;
  border-radius: 50px 0 0 50px;
  border-right: none;
  outline: none;
  font-size: 20px;
  color: #4548a1;
}
.search-button {
  outline: none;
  padding: 5px;
  cursor: pointer;
  border: 5px solid #4548a1;
  border-radius: 0 50px 50px 0;
  border-left: none;
  background: #f9fafe;
  font-size: 20px;
  color: #4548a1;
}

.search-button:hover {
  color: #fc6490;
}

.add-book-symbol {
  color: #f77ba3;
  font-size: 60px;

  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  transition: 0.5s;
  transform-origin: center;
}

.add {
  margin-right: 5%;
}

.add-over {
  transform: rotate(45deg);
  color: #caf0ff;
}

.add-book-symbol:hover {
  cursor: pointer;
}

.user-profile {
  margin-top: 3px;
  color: #f9fafe;
  font-size: 50px;
}

.books-area {
  max-width: 90%;
  min-width: 90%;
  padding: 0px 0px 15px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: center;
}

.card {
  background: #f9fafe;
  border-radius: 10px;
  height: 250px;
  min-width: 200px;
  max-width: auto;
  margin: 15px 15px 35px 15px;
  -webkit-box-shadow: 1px 1px 15px 4px rgba(0, 0, 0, 0.247);
  box-shadow: 1px 1px 15px 4px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Nunito', sans-serif;
  flex-shrink: 1;
}

.card-top {
  display: flex;
  border-radius: 10px 10px 0px 0px;
  background: #4548a1;
  justify-content: center;
  height: auto;
  padding: 5px;
  width: 100%;
}

.card-title {
  margin-top: 5px;
  color: #f9fafe;
  font-size: 22px;
  font-weight: 700;
}

.card-delete {
  margin-left: 10px;
  font-weight: 900;
  color: #f77ba3;
}

.card-delete:hover {
  cursor: pointer;
  color: #ff4949;
}

.card-author,
.card-pages {
  width: 100%;
  height: auto;
  font-size: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.card-pages {
  border-top: 3px dotted #4548a1;
}

.card-bottom {
  display: flex;
  justify-content: center;
  background: #ff4949;
  column-gap: 16px;
  height: auto;
  padding: 5px;
  width: 100%;
}

.card-isread {
  color: #f9fafe;
  font-weight: 700;
}

.card-toggle,
.card-isread {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(155, 155, 155);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 6px;
  width: 6px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.bigger-switch {
  height: 30px;
  width: 80px;
  margin-right: 170px;
}

.bigger-slider:before {
  height: 18px;
  width: 18px;
  bottom: 6px;
}

input:checked + .slider {
  background-color: #1545e2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:checked + .bigger-slider:before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.541);

  font-family: 'Nunito', sans-serif;
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 40%;
  height: 53%;
  animation-name: animatetop;
  animation-duration: 0.7s;
}

@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: 900;
  margin-left: auto;
}

.close:hover,
.close:focus {
  color: #ff4949;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: flex-start;
  position: relative;
  background: #4548a1;
  height: auto;
  padding: 8px 15px 8px 15px;
}

.modal-header h1 {
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.modal-body {
  padding: 2px 16px;
}

.input-area {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 20px;
  align-items: center;
}

.title-input,
.author-input,
.pages-input,
.isread-input,
.submit-button {
  width: 70%;
  font-size: 25px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-family: 'Gochi Hand', cursive;
  color: #202266;
}

#title,
#author,
#pages {
  height: 25px;
  width: 250px;
  border-radius: 6px;
  border: 3px solid #617596;
}

#title:focus,
#author:focus,
#pages:focus {
  outline: none !important;
  border: 3px solid #ff4949;
}

.btn-submit-book {
  text-decoration: none;
  border: none;
  width: 100%;
  height: 40px;
  background: #ff4949;
  color: #fefefe;
  border-radius: 6px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
}

.btn-submit-book:hover {
  cursor: pointer;
  background: #ff5555;
}
